:root {
    --color-font-header: #70757a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

figure {
    display: grid;
}

img {
    width: 100%;
    font-size: 1rem;
}

.material-icons {
    font-size: 2.4rem;
    color: var(--color-font-header);
}

.header {
    width: 100vw;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-left {
    width: 20rem;
    height: 100%;
    display: grid;
}

.header__nav-right {
    width: 10.5rem;
}

.header__nav-left--ul,
.header__nav-right--ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-left__ul--a {
    font-size: 1.2rem;
    color: var(--color-font-header);
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-left__ul--a:focus {
    border-bottom: 0.2rem solid rgb(66, 133, 244);
    color: rgb(66, 133, 244);
}

a.header__nav-right--app {
    font-size: 2.5rem;
    padding: 0.6rem;
}

.header__nav-right--app:focus {
    padding: 0.6rem;
    background-color: rgba(60, 64, 67, 0.12);
    border-radius: 50%;
}

a.header__nav-right--account-icon {
    font-size: 3.4rem;
}

.header__nav-right--account-icon:focus {
    background-color: rgba(60, 64, 67, 0.12);
    border-radius: 50%;
}

.app-window {
    position: absolute;
    top: 4.4rem;
    right: 0;
    left: auto;
    bottom: 0;
    width: 28.6rem;
    height: 50%;
    margin-right: 0.8rem;
    display: none;
    background-color: #fff;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
        0px 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 10px;
    overflow-y: auto;
}

.app-window__google-apps {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 1rem 1.2rem 1.5rem 0;
}

.app-window__google-apps p {
    font-size: 1.4rem;
}

.google-apps__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8.6rem;
}

.google-apps__container--div-vacio {
    width: 7.2rem;
    height: 3.2rem;
}

.app-window__google-apps div a {
    font-size: 3.8rem;
    width: 7.2rem;
}

.app-window__google-apps figure {
    width: 3.2rem;
    margin-bottom: 0.9rem;
    height: 100%;
}

.app-window__google-apps--a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.header__nav-right--app:focus + .app-window {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.linea-de-separacion {
    border-top: 0.1rem rgba(0, 0, 0, 0.2) solid;
    width: 95%;
    display: inline-block;
}

.opcion-account {
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.opcion-account p,
.opcion-account__footer a  {
    font-family: 'Spartan', sans-serif;
}

a.opcion-account--account-icon {
    font-size: 8rem;
}

.opcion-account__camera-icon {
    position: absolute;
    top: 5rem;
    left: 17.2rem;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
        0px 2px 6px 2px rgb(60 64 67 / 15%); */
    width: 3.2rem;
    height: 3.2rem;
}

.opcion-account__camera-icon .opcion-account__camera-icon--a {
    font-size: 1.8rem;
    border-radius: 100%;
    box-sizing: content-box;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
        0px 2px 6px 2px rgb(60 64 67 / 15%);
    padding: 0.3rem;
}

.opcion-account__nombre-de-usuario {
    font-weight: 600;
}

.opcion-account__email-usuario {
    font-size: 1.4rem;
    color: #5f6368;
}

.opcion-account__admin-cuenta {
    font-size: 1.4rem;
    font-weight: 500;
    box-sizing: content-box;
    border: 1px solid #dadce0;
    border-radius: 18px;
    padding: 0.75rem 1.6rem;
}

.opcion-account__other-account {
    display: flex;
    align-items: center;
    justify-content: center;
}
